@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

* {
 font-family: "Inter", serif;
}

body {
  background-color: #FFFFFF;
  color:#999AA1
}

.max-w-1390{
  max-width: 1390px;
}
.max-w-1154{
  max-width: 1154px;
}
.max-w-1235{
 max-width: 1235px;
}
.max-w-1315{
  max-width: 1315px;
}

/* INTEGRATION */
.integration-item{
  @apply w-1/6 
}

.integration-item .integration-item-bg{
  @apply inline-block bg-white p-4 rounded-[10px] shadow-xl
}

.integration-item .integration-item-bg img{
  width: 50px;
  height: 50px;
}

/* TESTIMONIALS - SWIPER */
/* .swiper {
  width: 600px;
  height: 300px;
} */

.testimonials-item{
  @apply bg-white p-9 pt-8 rounded-lg shadow-[0px_12px_120px_rgba(45,74,179,0.06)] 
}

.testimonials-item-title {
  @apply flex justify-between border-b border-[#eeeeee] pb-6 mb-8
}

.testimonials-item-title h3{
  @apply text-black text-lg mb-1.5
}


.swiper-pagination{
  @apply relative pt-[50px]
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color:#EEEEEE;
  opacity: 1;
  margin: 0 5px;
}
.swiper-pagination-bullet-active{
  background-color:#076BFF;
  width: 20px;
  border-radius: 10px;
}


