@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

* {
 font-family: "Inter", serif;
}

body {
  background-color: #FFFFFF;
  color:#999AA1
}

.max-w-1390{
  max-width: 1390px;
}
.max-w-1154{
  max-width: 1154px;
}
.max-w-1235{
 max-width: 1235px;
}
.max-w-1315{
  max-width: 1315px;
}
.max-w-1207{
  max-width: 1207px;
}

/* INTEGRATION */
.integration-item{
  @apply w-1/6 
}

.integration-item .integration-item-bg{
  @apply inline-block bg-white p-4 rounded-[10px] shadow-xl
}

.integration-item .integration-item-bg img{
  width: 50px;
  height: 50px;
}

/* TESTIMONIALS - SWIPER */
/* .swiper {
  width: 600px;
  height: 300px;
} */

.testimonials-item{
  @apply bg-white p-9 pt-8 rounded-lg shadow-[0px_12px_120px_rgba(45,74,179,0.06)] 
}

.testimonials-item-title {
  @apply flex justify-between border-b border-[#eeeeee] pb-6 mb-8
}

.testimonials-item-title h3{
  @apply text-black text-lg mb-1.5
}


.swiper-pagination{
  @apply relative pt-[50px]
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color:#EEEEEE;
  opacity: 1;
  margin: 0 5px;
}
.swiper-pagination-bullet-active{
  background-color:#076BFF;
  width: 20px;
  border-radius: 10px;
}


/* PLAN */
.plan-item {
  @apply relative bg-white p-8 border border-[#eeeeee] rounded-lg shadow-[0px_8px_30px_rgba(45,74,170,0.06)] md:w-[45%] lg:w-1/3 xl:p-12
}

.plan-item h3{
  @apply text-3xl font-bold text-black mb-8 xl:text-[44px] xl:leading-[55px] 
}

.plan-item h3 span {
  @apply text-base text-[#757693]
}

.plan-item h4 {
  @apply text-black font-medium text-[22px] leading-9 mb-2.5 capitalize
}

.plan-item div {
  @apply pt-9 pb-12 mt-9 border-t border-[#eeeeee]
}

.plan-item div li{
 @apply mb-4 text-black last:mb-0
}

.plan-item button {
  @apply inline-flex items-center gap-2.5 font-medium text-[#006BFF] transition-all duration-300
}

.plan-item button span{
  @apply duration-300 group-hover:pr-2
}